<div class="modal-header">
  <h5 class="modal-title"><%= title %></h5>
</div>
<%= form_tag [@course, @course_subject], remote: true do %>
  <div class="modal-body text-center">
    <div class="allcp-form theme-primary center-block">
      <div class="panel-body text-center">
        <div class="section row">
          <h6>Eliminar asignaturas asignadas</h6>
          <% if @assigned_subjects.present? %>
            <% @assigned_subjects.each do |assigned_subject| %>
              <div class="col-md-4 ph10 mb5 text-left">
                <label class="block mt15 option option-primary">
                  <input type="checkbox" name="destroy_subjects[]" value="<%= assigned_subject.id %>">
                  <span class="checkbox"></span>
                  <%= assigned_subject.name %>
                </label>
              </div>
            <% end %>
          <% else %>
            <small>Sin asignaturas asignadas actualmente</small>
          <% end %>
        </div>
        <hr>
        <div class="section row">
          <h6>Asignar nuevas asignaturas</h6>
          <% if @subjects_to_assign.present? %>
            <% @subjects_to_assign.each do |subject_to_assign| %>
              <div class="col-md-4 ph10 mb5 text-left">
                <label class="block mt15 option option-primary">
                  <input type="checkbox" name="new_subjects[]" value="<%= subject_to_assign.id %>">
                  <span class="checkbox"></span>
                  <%= subject_to_assign.name %>
                </label>
              </div>
            <% end %>
          <% else %>
            <span>Sin asignaturas para agregar</span>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-md btn-default" data-dismiss="modal">Cancelar</button>
    <%= submit_tag "Guardar", class: "btn btn-md btn-primary btn-ok" %>
  </div>
<% end %>
