<p id="notice"><%= notice %></p>

<h1>Cursos</h1>

<table>
  <thead>
    <tr>
      <th>Nombre</th>
      <th colspan="1"></th>
    </tr>
  </thead>

  <tbody>
    <% @courses.each do |course| %>
      <tr>
        <td><%= course.name %></td>
        <td><%= link_to 'Asignaturas', new_course_course_subject_path(course.id), remote: true %></td>
        <td><%= link_to 'Estudiantes', course_students_path(course) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nuevo Curso', new_course_path %>

<div class="modal fade" id="subjectsByCourseModal" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-md">
    <div class="modal-content" id="content-course-subject-modal">
    </div>
  </div>
</div>